.header-container {
	height: 50px;
	padding: var(--spacing-small);
	background-color: var(--color-aqua);
	display: flex;
}

.header-counter {
	margin-left: auto;
	padding-right: var(--spacing-medium);
	cursor: pointer;
	font-weight: bold;
}