@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
.header-container {
  height: 80px;
  padding: 10px;
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header__label .header__img {
  width: 80px;
  height: 80px;
}
.header-container .header__label .header__text {
  font-family: "Bagel Fat One", cursive;
  font-size: 25px;
}
.header-container .header-counter {
  margin-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Bagel Fat One", cursive;
}

@media (max-width: 860px) {
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 619px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    margin: 0;
    max-width: 619px;
    width: 100%;
  }
  .header-container .header__label {
    max-width: 619px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-container .header-counter {
    max-width: 619px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 45px;
  width: 80%;
  max-width: 1200px;
  margin: 15px auto;
}
.products-container .products-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 25px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
          box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
  border-radius: 3px;
  position: relative;
}
.products-container .products-element .products-element__rating {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products-container .products-element .high {
  border: 2px solid greenyellow;
}
.products-container .products-element .middle {
  border: 2px solid orange;
}
.products-container .products-element .low {
  border: 2px solid red;
}
.products-container .products-element .products-element__rating .products-element__name {
  margin-bottom: auto;
  font-weight: bold;
}
.products-container .products-element .products-element__img {
  width: 100%;
  height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 15px;
  cursor: pointer;
}
.products-container .products-element .products-element__sizes-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.products-container .products-element .products-element__sizes-price .products-element__price {
  margin-top: 15px;
  color: #808080;
  width: 40%;
}
.products-container .products-element .products-element__sizes-price .products-element__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-bottom: 5px;
}
.products-container .products-element .products-element__sizes-price .products-element__sizes .products-element__size {
  width: 20px;
  height: 20px;
  background-color: bisque;
  font-size: 12px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.products-container .products-element .products-element__sizes-price .products-element__sizes .products-element__size-active {
  background: #FF1493;
}
.products-container .products-element .products-element__sizes-price .products-element__sizes .products-element__size:hover {
  background: #00BFFF;
}
.products-container .products-element .products-element__btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid #808080;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}
.products-container .products-element .products-element__btn_active {
  border: 1px solid transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#e2f87c), color-stop(#d6f567), color-stop(#c8f151), color-stop(#b9ee38), to(#a8eb12));
  background-image: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
}

.shopping-container {
  width: 80%;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
          box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
  border: 2px solid black;
}
.shopping-container .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shopping-container .table .shopping-element__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 100%;
}
.shopping-container .table .shopping-element__information .shopping-element__name {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
}
.shopping-container .table .shopping-element__information .shopping-element__price {
  padding: 15px;
  color: #808080;
  width: 150px;
}
.shopping-container .table .shopping-element__information .shopping-element__size {
  width: 70px;
}
.shopping-container .table .shopping-element__information .shopping-element__amount {
  margin-left: 10px;
}
.shopping-container .table .shopping-element__sum {
  margin-top: 10px;
  margin-left: 40px;
}
.shopping-container .shopping__img {
  width: 300px;
  height: 500px;
  position: absolute;
  right: 220px;
  bottom: 50px;
}

.shoppingPage__btn {
  border: 0px;
  top: 30px;
  right: 30px;
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  background-color: #fff;
}

.shoppingPage__btn-clear {
  text-decoration: none;
  color: #000;
  background: rgb(9, 180, 214);
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  z-index: 0;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px 15px 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.shoppingPage__btn-clear:hover {
  color: #fff;
  background: #000;
}

.shopping-element__plus {
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 10px;
  margin-top: 5px;
}

.shopping-element__minus {
  border: none;
  width: 20px;
  height: 20px;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  background-color: #fff;
  margin-left: 10px;
  margin-top: 5px;
}

.shopping-element__emty {
  position: absolute;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  top: 10%;
  left: 50%;
}

.shopping-element__img {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
}

@media (max-width: 826px) {
  .shopping-container .shopping-element__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  .shopping-container .shopping-element__information .shopping-element__size {
    margin-left: 16px;
  }
  .shopping-container .shoppingPage__btn {
    left: 30px;
    top: 88.5%;
  }
}
@media (max-width: 1110px) {
  .shopping-element__img {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
}
@media (max-width: 844px) {
  .shoppingPage__btn-clear {
    right: 15px;
  }
  .shopping-element__emty {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .shopping-element__name {
    position: relative;
  }
}
@media (max-width: 430px) {
  .shopping-element__sum {
    margin-left: 25%;
  }
}
.about-products {
  width: 80%;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
          box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
  border: 3px solid #000;
  background: #FAEBD7;
}
.about-products .about-products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 100%;
}
.about-products .about-products-wrap .about-products__img {
  height: 400px;
  width: 450px;
  margin-left: 30px;
  border: 2px solid #000;
}
.about-products .about-products-wrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 504px;
  height: 300px;
  margin-right: 40px;
}
.about-products .about-products-wrap .box .about-products__name {
  font-family: "Roboto Condensed", sans-serif;
}
.about-products .about-products-wrap .box .about-products__lead {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
.about-products .about-products__btn {
  border: 0px;
  top: 30px;
  right: 30px;
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  background-color: #FAEBD7;
}

@media (max-width: 1385px) {
  .about-products .about-products-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-products .about-products-wrap .about-products__img {
    height: 350px;
    width: 350px;
    margin-left: 0px;
  }
  .about-products .about-products-wrap .box {
    margin-right: 0px;
  }
}
@media (max-width: 639px) {
  .about-products .about-products-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-products .about-products-wrap .about-products__img {
    height: 300px;
    width: 300px;
    margin-left: 0px;
    margin-top: 60px;
  }
  .about-products .about-products-wrap .box {
    margin-right: 0px;
    width: 404px;
  }
  .about-products .about-products-wrap .box .about-products__lead {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 639px) {
  .about-products .about-products-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-products .about-products-wrap .about-products__img {
    height: 300px;
    width: 300px;
    margin-left: 0px;
    margin-top: 60px;
  }
  .about-products .about-products-wrap .box {
    margin-right: 0px;
    width: 304px;
  }
  .about-products .about-products-wrap .box .about-products__lead {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
  }
}
.sort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sort .sort-container {
  margin-top: 10px;
  height: 50px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sort .sort-container .sort__btn {
  width: 70px;
  height: 40px;
  border-radius: 15%;
  cursor: pointer;
  border: 2px solid #008B8B;
  font-family: "Roboto Condensed", sans-serif;
  background: #fff;
}
.sort .sort-container .sort__btn:hover {
  background-color: #6495ED;
}
.sort .sort-container .sort__btn-active {
  background: #FFB6C1;
  border: 2px solid #000;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spinner-container .spinner__img {
  width: 240px;
  height: 200px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: var(--color-light);
  overflow-x: hidden;
}

.main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}