@import "variables";

.shopping-container {
	width: 80%;
	height: 90vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: $spacing-large;
	background-color: $color-white;
	box-shadow: $box-shadow;
	border: 2px solid black;

	.shopping__img {
		width: 300px;
		height: 500px;
		position: absolute;
		right: 220px;
		bottom: 50px;
	}

	.shopping-element__name {
		padding: $spacing-medium;
		font-weight: bold;
	}

	.shopping-element__price {
		padding: $spacing-medium;
		color: $color-unaccent;
	}

	.shoppingPage__btn {
		text-decoration: none;
		color: $color-black;
		background: rgb(9, 180, 214);
		display: inline-block;
		padding: 14px 30px;
		border: 1px solid $color-black;
		z-index: 0;
		border-radius: 5px;
		box-sizing: border-box;
		margin: 0 15px 15px 0;
		outline: none;
		cursor: pointer;
		user-select: none;
		appearance: none;
		touch-action: manipulation;
		position: absolute;
		top: $spacing-large ;
		right: $spacing-large;
	}

	.shoppingPage__btn:hover {
		color: $color-white;
		background: $color-black;
	}
}

.shoppingPage__btn-clear {

	text-decoration: none;
	color: $color-black;
	background: rgb(9, 180, 214);
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid $color-black;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	position: absolute;
	bottom: $spacing-large ;
	right: $spacing-large;

}

.shoppingPage__btn-clear:hover {
	color: $color-white;
	background: $color-black;
}