@import "variables";
@import"../components/Header/header.scss";
@import '../components/Products/products.scss';
@import'../components/Shopping/shopping.scss';
@import '../components/About-products/about-products.scss';
@import '../components/Sort/sort.scss';
@import '../components/Spinner/spinner.scss';
@import '../components/Error/error.scss';
@import '../components/For__men/forMen.scss';
@import '../components/SortM/sortM.scss';
@import '../components/SortW/sortW.scss';
@import '../components/For__women/forWomen.scss';
@import '../components/About/about.scss';
@import '../components/Footer/Foorer.scss';
@import '../components/Registr-form/registr-form.scss';
@import '../components/Buy/buy.scss';


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	line-height: 1.7;
	background-color: var(--color-light);
	overflow-x: hidden;

}

.main-wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}