@import "variables";

.shopping-container {
	z-index: 1;
	width: 80%;
	height: 90vh;
	max-width: 1152px;
	max-height: 800px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: $spacing-large;
	background-color: $color-white;
	box-shadow: $box-shadow;
	border: 2px solid black;

	.table {

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;

		.shopping-element__information {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			max-width: 600px;
			width: 100%;


			.shopping-element__name {
				// padding: $spacing-medium;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;

				width: 190px;
			}

			.shopping-element__price {
				padding: $spacing-medium;
				color: $color-unaccent;

				width: 150px;
			}

			.shopping-element__size {

				width: 70px;
			}


			.shopping-element__amount {
				margin-left: 10px;
			}

		}

		.shopping-element__sum {
			margin-top: 10px;
			margin-left: 40px;
		}

	}

	.shopping__img {
		width: 300px;
		height: 500px;
		position: absolute;
		right: 220px;
		bottom: 50px;
	}








}

.shoppingPage__btn {
	border: 0px;
	top: $spacing-large ;
	right: $spacing-large;
	position: absolute;
	width: 35px;
	height: 35px;
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
	background-color: $color-white;
}

.shoppingPage__btn-clear {
	text-decoration: none;
	color: $color-black;
	background: rgb(9, 180, 214);
	display: inline-block;
	width: 100px;
	height: 50px;
	border: 1px solid $color-black;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	position: absolute;
	bottom: $spacing-large ;
	right: $spacing-large;
}

.shoppingPage__btn-clear:hover {
	color: $color-white;
	background: $color-black;
}

.shoppingPage__btn-buy {
	text-decoration: none;
	color: $color-black;
	background: rgb(9, 180, 214);
	display: inline-block;
	width: 100px;
	height: 50px;
	border: 1px solid $color-black;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	position: absolute;
	left: $spacing-large;
	bottom: $spacing-large ;
}

.shoppingPage__btn-buy:hover {
	color: $color-white;
	background: $color-black;
}

.shopping-element__plus {

	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
	background-color: $color-white;
	width: 20px;
	height: 20px;
	border: none;
	margin-left: 10px;
	margin-top: 5px;
}

.shopping-element__minus {
	border: none;
	width: 20px;
	height: 20px;
	background-image: url("../img/minus.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
	background-color: $color-white;
	margin-left: 10px;

	margin-top: 5px;
}

.shopping-element__emty {
	position: absolute;
	transform: translate(-50%, -10%);
	top: 10%;
	left: 50%;
}

.shopping-element__img {
	height: 400px;
	width: 400px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
}


@media(max-width:826px) {
	.shopping-container {
		.shopping-element__information {
			flex-direction: column;
			// border: 1px solid $color-black;


			.shopping-element__size {
				margin-left: 16px;
			}

		}


	}

}

@media(max-width:1110px) {

	.shopping-element__img {
		height: 300px;
		width: 300px;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -55%);
	}


}

@media(max-width:844px) {
	.shoppingPage__btn-clear {
		right: $spacing-medium;
	}

	.shopping-element__emty {
		font-size: 15px;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.shopping-element__name {
		position: relative;
	}
}

@media(max-width:430px) {
	.shopping-element__sum {
		margin-left: 25%;
	}
}