@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.about-products {
	width: 80%;
	height: 90vh;
	max-width: 1152px;
	max-height: 800px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// margin: auto;
	padding: $spacing-large;
	background-color: $color-white;
	box-shadow: $box-shadow;
	border: 3px solid $color-black;
	background: $color-bg_about;
	z-index: 7;

	.about-products-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80vh;
		width: 100%;

		max-width: 1152px;
		max-height: 800px;

		.about-products__img {
			height: 400px;
			width: 450px;
			margin-left: 30px;
			border: 2px solid $color-black;
		}

		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 504px;
			height: 300px;
			margin-right: 40px;

			.about-products__name {
				font-family: 'Roboto Condensed', sans-serif;
			}

			.about-products__lead {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 20px;
				// border: 1px solid red;
				// margin-bottom: 50px;
			}

		}

	}


	.about-products__btn {
		border: 0px;
		top: $spacing-large ;
		right: $spacing-large;
		position: absolute;
		width: 35px;
		height: 35px;
		background-image: url("../img/close.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		cursor: pointer;
		background-color: $color-bg_about;
	}
}

@media(max-width:1385px) {
	.about-products {
		.about-products-wrap {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			// border: 1px solid red;
			margin: 0;

			.about-products__img {
				height: 350px;
				width: 350px;

				margin-left: 0px;
			}

			.box {
				margin-right: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 50px;

			}
		}
	}
}

@media(max-width:639px) {
	.about-products {
		.about-products-wrap {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.about-products__img {
				height: 300px;
				width: 300px;
				margin-left: 0px;
				margin-top: 60px;
			}

			.box {
				margin-right: 0px;
				width: 404px;
				margin-top: 10px;


				.about-products__lead {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 18px;
					// border: 1px solid red;
					// margin-bottom: 50px;
				}
			}
		}
	}

}

@media(max-width:639px) {


	.about-products {
		.about-products-wrap {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.about-products__img {
				height: 300px;
				width: 300px;

				margin-left: 0px;
				margin-top: 60px;
			}

			.box {
				margin-right: 0px;
				width: 304px;

				.about-products__lead {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 18px;
					// border: 1px solid red;
					// margin-bottom: 50px;
				}
			}
		}
	}

}