@import "../../scss/variables.scss";

.wom_products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 45px;
	width: 80%;
	max-width: 1200px;
	margin: $spacing-medium auto;
	position: relative;


	.wom_products-element {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 25px 20px;
		background-color: $color-white;
		box-shadow: $box-shadow;
		border-radius: $border-radius;

		position: relative;

		.wom_products-element__rating {
			position: absolute;
			top: $spacing-medium+2px;
			right: $spacing-medium;
			width: 40px;
			height: 40px;
			border-radius: 50%;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.Whigh {
			border: 2px solid $color-greenyellow;
		}

		.Wmiddle {
			border: 2px solid $color-orange;
		}

		.Wlow {
			border: 2px solid $color-red;
		}


		.wom_products-element__rating .men_products-element__name {
			margin-bottom: auto;
			font-weight: bold;
		}

		.wom_products-element__img {
			width: 100%;

			height: 270px;
			object-fit: contain;
			margin-top: $spacing-medium;
			cursor: pointer;

		}

		.wom_products-element__sizes-price {
			width: 100%;

			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.wom_products-element__price {
				margin-top: $spacing-medium;
				color: $color-unaccent;
				width: 40%;

			}

			.wom_products-element__sizes {
				display: flex;
				justify-content: space-around;
				align-items: center;

				width: 60%;
				margin-bottom: 5px;

				.wom_products-element__size {
					width: 20px;
					height: 20px;
					background-color: $color-bisque;
					font-size: 12px;
					border: 1px solid $color-black;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					border-radius: 50%;
				}

				.wom_products-element__size-active {
					background: $color-filo;
				}

				.wom_products-element__size:hover {
					background: $color-blue;
				}
			}
		}


		.wom_products-element__btn {
			margin-top: $spacing-medium;
			padding: $spacing-small $spacing-medium;
			border: 1px solid $color-unaccent;
			border-radius: $border-radius;
			cursor: pointer;
			outline: none;
			background: none;
			font-family: inherit;
			font-size: inherit;
		}

		.wom_products-element__btn_active {
			border: 1px solid transparent;
			background-image: $linear-gradient;
		}
	}
}